/* BEGIN CONFIG index.html */

.tictactoeHeading {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

.manuradio {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(2, 26, 123);
}

.playbutton {
    /*background-color: #4CAF50;  Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}

td {
    border: 4px solid rgb(6, 13, 113);
    height: 200px;
    width: 200px;
}
